# Supabase Configuration
VITE_SUPABASE_URL=https://centdvslooaksvrstasn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlbnRkdnNsb29ha3N2cnN0YXNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMDgxMTYsImV4cCI6MjA5MDc4NDExNn0.T_O1Z7M9v6DCqL0-k2JJ9r-JlBpseLoIQjXwdiOLJCk
